In [1]:
import pandas as pd
import numpy as np

import scipy.stats as ss
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.api import anova_lm
from statsmodels.stats.multicomp import (pairwise_tukeyhsd,
                                         MultiComparison)
import pingouin as pg

import matplotlib.pyplot as plt
import seaborn as sns

/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedCacheFailedWarning: Failed to use cache while checking for outdated package.
Set the environment variable OUTDATED_RAISE_EXCEPTION=1 for a full traceback.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs
/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.4.0, the latest is 0.5.1.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs

In [2]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-t-varenichenko-22/My_practice/Modul_6_Statistics/7_cars.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
# Посмотрим на данные
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [18]:
# Создадим новый признак – марку автомобиля 
df['mark'] = df.CarName.apply(lambda x: x.split(' ')[0])
df.drop(columns=['CarName', 'car_ID'])
df['mark'].nunique()

28

In [19]:
# Посмотрим на уникальные значения mark
df['mark'].value_counts()

toyota         31
nissan         17
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
volkswagen      9
dodge           9
bmw             8
buick           8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
alfa-romero     3
jaguar          3
chevrolet       3
vw              2
maxda           2
renault         2
porcshce        1
vokswagen       1
toyouta         1
Nissan          1
mercury         1
Name: mark, dtype: int64

In [33]:
# Исправим ошибки и еще раз посмотрим сколько уникальных марок  
df = df.replace({'mark' : { 'maxda' : 'mazda',
    'Nissan' : 'nissan',
    'porcshce' : 'porsche',
    'toyouta' : 'toyota',
    'vw' : 'volkswagen',
    'vokswagen' : 'volkswagen' }})

In [35]:
df['mark'].nunique()

22

In [37]:
# Оставим часть предикторов
regression_1 = df[['price', 'mark', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower']]

In [38]:
regression_1

,price,mark,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,curbweight,enginetype,cylindernumber,enginesize,boreratio,horsepower
0,13495.0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111
1,16500.0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111
2,16500.0,alfa-romero,gas,std,hatchback,rwd,94.5,171.2,65.5,2823,ohcv,six,152,2.68,154
3,13950.0,audi,gas,std,sedan,fwd,99.8,176.6,66.2,2337,ohc,four,109,3.19,102
4,17450.0,audi,gas,std,sedan,4wd,99.4,176.6,66.4,2824,ohc,five,136,3.19,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,16845.0,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,2952,ohc,four,141,3.78,114
201,19045.0,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.8,3049,ohc,four,141,3.78,160
202,21485.0,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,3012,ohcv,six,173,3.58,134
203,22470.0,volvo,diesel,turbo,sedan,rwd,109.1,188.8,68.9,3217,ohc,six,145,3.01,106
204,22625.0,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.9,3062,ohc,four,141,3.78,114

In [47]:
# Посмотрим корреляцию между price и другими переменными. 
regression_1.corr().round(2)

,price,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower
price,1.00,0.58,0.68,0.76,0.84,0.87,0.55,0.81
wheelbase,0.58,1.00,0.87,0.80,0.78,0.57,0.49,0.35
carlength,0.68,0.87,1.00,0.84,0.88,0.68,0.61,0.55
carwidth,0.76,0.80,0.84,1.00,0.87,0.74,0.56,0.64
curbweight,0.84,0.78,0.88,0.87,1.00,0.85,0.65,0.75
enginesize,0.87,0.57,0.68,0.74,0.85,1.00,0.58,0.81
boreratio,0.55,0.49,0.61,0.56,0.65,0.58,1.00,0.57
horsepower,0.81,0.35,0.55,0.64,0.75,0.81,0.57,1.00

In [48]:
regression_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           205 non-null    float64
 1   mark            205 non-null    object
 2   fueltype        205 non-null    object
 3   aspiration      205 non-null    object
 4   carbody         205 non-null    object
 5   drivewheel      205 non-null    object
 6   wheelbase       205 non-null    float64
 7   carlength       205 non-null    float64
 8   carwidth        205 non-null    float64
 9   curbweight      205 non-null    int64
 10  enginetype      205 non-null    object
 11  cylindernumber  205 non-null    object
 12  enginesize      205 non-null    int64
 13  boreratio       205 non-null    float64
 14  horsepower      205 non-null    int64
dtypes: float64(5), int64(3), object(7)
memory usage: 24.1+ KB

In [50]:
# Для линейной регрессии преобразуем категориальные переменные в фиктивные/индикаторные переменные
df_dummy = pd.get_dummies(data=regression_1[['mark', 'fueltype', 'aspiration','carbody', 'drivewheel', 'enginetype', 'cylindernumber']], drop_first = True)

In [61]:
# Объединим с другими переменными, которые не были преобразованы
reg_2 = pd.concat([regression_1[['price', 'wheelbase', 'carlength', 'carwidth', 'curbweight', 'enginesize', 'boreratio', 'horsepower']], df_dummy ], axis=1)
reg_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 49 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   price                  205 non-null    float64
 1   wheelbase              205 non-null    float64
 2   carlength              205 non-null    float64
 3   carwidth               205 non-null    float64
 4   curbweight             205 non-null    int64
 5   enginesize             205 non-null    int64
 6   boreratio              205 non-null    float64
 7   horsepower             205 non-null    int64
 8   mark_audi              205 non-null    uint8
 9   mark_bmw               205 non-null    uint8
 10  mark_buick             205 non-null    uint8
 11  mark_chevrolet         205 non-null    uint8
 12  mark_dodge             205 non-null    uint8
 13  mark_honda             205 non-null    uint8
 14  mark_isuzu             205 non-null    uint8
 15  mark_jaguar            205 non-null    uint8
 16  mark_mazda             205 non-null    uint8
 17  mark_mercury           205 non-null    uint8
 18  mark_mitsubishi        205 non-null    uint8
 19  mark_nissan            205 non-null    uint8
 20  mark_peugeot           205 non-null    uint8
 21  mark_plymouth          205 non-null    uint8
 22  mark_porsche           205 non-null    uint8
 23  mark_renault           205 non-null    uint8
 24  mark_saab              205 non-null    uint8
 25  mark_subaru            205 non-null    uint8
 26  mark_toyota            205 non-null    uint8
 27  mark_volkswagen        205 non-null    uint8
 28  mark_volvo             205 non-null    uint8
 29  fueltype_gas           205 non-null    uint8
 30  aspiration_turbo       205 non-null    uint8
 31  carbody_hardtop        205 non-null    uint8
 32  carbody_hatchback      205 non-null    uint8
 33  carbody_sedan          205 non-null    uint8
 34  carbody_wagon          205 non-null    uint8
 35  drivewheel_fwd         205 non-null    uint8
 36  drivewheel_rwd         205 non-null    uint8
 37  enginetype_dohcv       205 non-null    uint8
 38  enginetype_l           205 non-null    uint8
 39  enginetype_ohc         205 non-null    uint8
 40  enginetype_ohcf        205 non-null    uint8
 41  enginetype_ohcv        205 non-null    uint8
 42  enginetype_rotor       205 non-null    uint8
 43  cylindernumber_five    205 non-null    uint8
 44  cylindernumber_four    205 non-null    uint8
 45  cylindernumber_six     205 non-null    uint8
 46  cylindernumber_three   205 non-null    uint8
 47  cylindernumber_twelve  205 non-null    uint8
 48  cylindernumber_two     205 non-null    uint8
dtypes: float64(5), int64(3), uint8(41)
memory usage: 21.1 KB

Построим модель с одним предиктором: price – horsepower.

In [58]:
results = smf.ols('price ~ horsepower', reg_2).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     382.2
Date:                Tue, 24 May 2022   Prob (F-statistic):           1.48e-48
Time:                        15:03:45   Log-Likelihood:                -2024.0
No. Observations:                 205   AIC:                             4052.
Df Residuals:                     203   BIC:                             4059.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -3721.7615    929.849     -4.003      0.000   -5555.163   -1888.360
horsepower   163.2631      8.351     19.549      0.000     146.796     179.730
==============================================================================
Omnibus:                       47.741   Durbin-Watson:                   0.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.702
Skew:                           1.141   Prob(JB):                     1.22e-20
Kurtosis:                       5.352   Cond. No.                         314.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Модель со всеми предикторами, кроме марок машин

In [65]:
Y = reg_2.price
X = sm.add_constant(reg_2.drop(['price', 'mark_audi', 'mark_bmw',
       'mark_buick', 'mark_chevrolet', 'mark_dodge', 'mark_honda',
       'mark_isuzu', 'mark_jaguar', 'mark_mazda', 'mark_mercury',
       'mark_mitsubishi', 'mark_nissan', 'mark_peugeot', 'mark_plymouth',
       'mark_porsche', 'mark_renault', 'mark_saab', 'mark_subaru',
       'mark_toyota', 'mark_volkswagen', 'mark_volvo'], axis = 1) 
model = sm.OLS(Y, X)  
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.914
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     72.32
Date:                Tue, 24 May 2022   Prob (F-statistic):           9.86e-81
Time:                        15:17:06   Log-Likelihood:                -1881.6
No. Observations:                 205   AIC:                             3817.
Df Residuals:                     178   BIC:                             3907.
Df Model:                          26
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                   -1.7e+04    1.3e+04     -1.309      0.192   -4.26e+04    8625.219
wheelbase                71.1868     87.028      0.818      0.414    -100.552     242.925
carlength               -51.3497     50.341     -1.020      0.309    -150.692      47.993
carwidth                541.8700    253.327      2.139      0.034      41.958    1041.782
curbweight                2.9577      1.796      1.647      0.101      -0.585       6.501
enginesize               36.0515     22.376      1.611      0.109      -8.105      80.208
boreratio             -2230.4519   1731.681     -1.288      0.199   -5647.719    1186.815
horsepower               86.8164     16.717      5.193      0.000      53.827     119.806
fueltype_gas          -2423.0935    975.579     -2.484      0.014   -4348.283    -497.904
aspiration_turbo      -1139.2334    787.230     -1.447      0.150   -2692.738     414.271
carbody_hardtop       -3728.0949   1519.366     -2.454      0.015   -6726.383    -729.807
carbody_hatchback     -4639.1279   1294.594     -3.583      0.000   -7193.855   -2084.401
carbody_sedan         -3337.7854   1356.075     -2.461      0.015   -6013.838    -661.732
carbody_wagon         -4315.4661   1465.089     -2.946      0.004   -7206.646   -1424.287
drivewheel_fwd          297.2402   1121.766      0.265      0.791   -1916.431    2510.912
drivewheel_rwd         1939.1594   1226.536      1.581      0.116    -481.263    4359.582
enginetype_dohcv      -1.713e+04   4540.120     -3.773      0.000   -2.61e+04   -8171.142
enginetype_l           2176.0521   1332.818      1.633      0.104    -454.106    4806.211
enginetype_ohc         4006.5687    897.437      4.464      0.000    2235.584    5777.553
enginetype_ohcf        5421.2822   1388.078      3.906      0.000    2682.076    8160.488
enginetype_ohcv       -5001.2242   1345.435     -3.717      0.000   -7656.280   -2346.169
enginetype_rotor      -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
cylindernumber_five   -1.389e+04   2891.599     -4.802      0.000   -1.96e+04   -8180.353
cylindernumber_four   -1.618e+04   3243.610     -4.989      0.000   -2.26e+04   -9780.800
cylindernumber_six    -1.175e+04   2287.516     -5.135      0.000   -1.63e+04   -7231.547
cylindernumber_three  -9264.0553   4750.899     -1.950      0.053   -1.86e+04     111.279
cylindernumber_twelve -1.214e+04   3386.507     -3.585      0.000   -1.88e+04   -5458.378
cylindernumber_two    -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
==============================================================================
Omnibus:                       18.493   Durbin-Watson:                   1.249
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               50.728
Skew:                           0.293   Prob(JB):                     9.65e-12
Kurtosis:                       5.365   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Модель со всеми предикторами

In [66]:
Y = reg_2.price
X = sm.add_constant(reg_2.drop('price', axis = 1)) 

model = sm.OLS(Y, X)  
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.959
Model:                            OLS   Adj. R-squared:                  0.948
Method:                 Least Squares   F-statistic:                     81.09
Date:                Tue, 24 May 2022   Prob (F-statistic):           4.86e-89
Time:                        15:17:58   Log-Likelihood:                -1804.2
No. Observations:                 205   AIC:                             3702.
Df Residuals:                     158   BIC:                             3858.
Df Model:                          46
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                 -3.472e+04   1.17e+04     -2.959      0.004   -5.79e+04   -1.15e+04
wheelbase               147.1396     76.234      1.930      0.055      -3.429     297.708
carlength              -113.2012     48.949     -2.313      0.022    -209.881     -16.522
carwidth                809.1860    214.508      3.772      0.000     385.514    1232.858
curbweight                4.1822      1.582      2.643      0.009       1.057       7.307
enginesize               61.4212     23.643      2.598      0.010      14.724     108.119
boreratio             -4319.4728   1759.825     -2.454      0.015   -7795.288    -843.657
horsepower               34.7010     18.000      1.928      0.056      -0.850      70.252
mark_audi               437.1040   2125.971      0.206      0.837   -3761.885    4636.093
mark_bmw               7993.4998   2105.132      3.797      0.000    3835.671    1.22e+04
mark_buick             3431.0969   2472.252      1.388      0.167   -1451.829    8314.023
mark_chevrolet        -2107.0167   2054.269     -1.026      0.307   -6164.387    1950.353
mark_dodge            -3034.5530   1686.337     -1.799      0.074   -6365.224     296.118
mark_honda            -2328.7396   1622.141     -1.436      0.153   -5532.617     875.138
mark_isuzu             -926.1643   1819.489     -0.509      0.611   -4519.823    2667.495
mark_jaguar            2695.2664   2546.268      1.059      0.291   -2333.847    7724.379
mark_mazda            -1291.5657   1652.561     -0.782      0.436   -4555.527    1972.395
mark_mercury          -2762.0259   2786.701     -0.991      0.323   -8266.016    2741.965
mark_mitsubishi       -3699.6473   1650.046     -2.242      0.026   -6958.640    -440.654
mark_nissan           -1488.1217   1563.564     -0.952      0.343   -4576.305    1600.061
mark_peugeot          -2671.4595   1795.328     -1.488      0.139   -6217.398     874.479
mark_plymouth         -3052.1258   1670.829     -1.827      0.070   -6352.166     247.915
mark_porsche           4915.9715   2797.761      1.757      0.081    -609.864    1.04e+04
mark_renault          -2865.2197   2073.046     -1.382      0.169   -6959.676    1229.237
mark_saab               719.8222   1767.620      0.407      0.684   -2771.390    4211.035
mark_subaru           -1.164e+04   3416.221     -3.407      0.001   -1.84e+04   -4892.375
mark_toyota           -2608.7871   1539.320     -1.695      0.092   -5649.086     431.512
mark_volkswagen       -2261.9355   1606.886     -1.408      0.161   -5435.683     911.812
mark_volvo               68.2605   1943.170      0.035      0.972   -3769.679    3906.200
fueltype_gas           -243.7792    908.310     -0.268      0.789   -2037.774    1550.216
aspiration_turbo        596.6566    676.548      0.882      0.379    -739.588    1932.902
carbody_hardtop       -2556.7157   1213.929     -2.106      0.037   -4954.337    -159.094
carbody_hatchback     -3044.4196   1107.064     -2.750      0.007   -5230.972    -857.867
carbody_sedan         -2256.9173   1154.971     -1.954      0.052   -4538.090      24.256
carbody_wagon         -2815.4970   1223.156     -2.302      0.023   -5231.343    -399.651
drivewheel_fwd         -169.4926    888.585     -0.191      0.849   -1924.531    1585.545
drivewheel_rwd          231.9066   1039.685      0.223      0.824   -1821.566    2285.380
enginetype_dohcv      -8358.0756   4326.239     -1.932      0.055   -1.69e+04     186.645
enginetype_l          -1067.3120   1602.125     -0.666      0.506   -4231.657    2097.033
enginetype_ohc         -273.7175   1063.557     -0.257      0.797   -2374.341    1826.906
enginetype_ohcf        1.031e+04   2672.508      3.857      0.000    5028.873    1.56e+04
enginetype_ohcv       -2393.8587   1214.631     -1.971      0.050   -4792.867       5.150
enginetype_rotor         37.4715   2092.597      0.018      0.986   -4095.600    4170.543
cylindernumber_five   -5235.5232   2887.214     -1.813      0.072   -1.09e+04     466.990
cylindernumber_four   -3741.3604   3542.130     -1.056      0.292   -1.07e+04    3254.673
cylindernumber_six    -5441.5317   2628.646     -2.070      0.040   -1.06e+04    -249.713
cylindernumber_three   1604.1476   2774.698      0.578      0.564   -3876.137    7084.432
cylindernumber_twelve -8097.1585   3616.336     -2.239      0.027   -1.52e+04    -954.561
cylindernumber_two       37.4715   2092.597      0.018      0.986   -4095.600    4170.543
==============================================================================
Omnibus:                       81.075   Durbin-Watson:                   1.382
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              487.187
Skew:                           1.379   Prob(JB):                    1.62e-106
Kurtosis:                      10.031   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

#### Оставляем модель, где меньше предикторов, так как R2 изменился не очень сильно, а часть марок вообще не значима. Выбранная модель объясняет примерно 90 % дисперсии. Среди предикторов 10 из 27 оказались не значимыми (p > 0.05).